/* TABLE OF CONTENTS

    1. Basic Document Styles
    2. Button
    3. Quotes
    4. Media Queries
   
*/
/* 1. Basic Document Styles
-------------------------------------------------*/

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {  font-size: 100%;  }

body {
  overflow-x: hidden;
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-weight: 400;
  color: rgba(0,0,0,.87);
  font-size: 14px;
  font-size: .875rem;
  line-height: 20px;
  line-height: 1.25rem;
}

h2 {
  font-size: 56px;
  font-size: 3.5rem;
  color: rgba(0,0,0,.54);
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-weight: 400;
  text-align: center
}

/* 2. Button
-------------------------------------------------*/

.btn {
  min-width: 64px;
  min-height: 36px;
  padding: 0 8px;
  margin: 8px;
  border: 0 none;
  letter-spacing: 1px;
  background-color: #33ccff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: 0 none;
  box-shadow: 0 0 8px rgba(0,0,0,.18), 0 8px 16px rgba(0,0,0,.36);
}

.btn-primary {
  color: #ffffff;
  background: #33ccff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background: #00ace6;
  outline: 0 none;
  box-shadow: 0 0 8px rgba(0,0,0,.18), 0 8px 16px rgba(0,0,0,.36);
}

.btn-primary:active,
.btn-primary.active {
  background: #00ace6;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}

.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover {
  background: #33ccff;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}
/* 3. Quotes
----------------------------------------*/
html, body {
    color: #373737;
}

body {
  height: 100vh;
  position: relative;
  border: 1px;
  border-style: solid;
  border-color: #ff6340;
  background-color: #ff6340;
}

.title {
  color: white;
}

.quote {
  position: absolute;
  top:50%;
  left: 50%;
  margin-right: -50%;
  
  max-width: 420px;
  margin: auto;
  color: #fff;
  transition: all 1s;
  transform: translate( -50%, -50% );
}

.quote:active,
.quote:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, .18), 0 8px 16px rgba(0, 0, 0, .36);
  border-radius: 6px;
}

#new-quote {  padding: 16px;  }

#quote {
  position: absolute;
  right: 0;
  bottom: 0;
}

blockquote {
  position: relative;
  border-left: 0;
}

blockquote:before {
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  color: #ffa88d;
}

cite {
  position: absolute;
  right: 0;
}

cite:after {
  display: block;
  content: "\201D";
  font-size: 80px;
  position: absolute;
  right: -20px;
  bottom: -40px;
  color: #ffa88d;
}

.tweet-button-container {
  position: absolute;
  bottom: 0;
  left: 0;
}

.tweet {
  line-height: 35px;
}

/* 4. Media Queries 
-------------------------------*/
 @media ( max-width: 768px ) {
   body {
     font-size: 17px;
     font-size: 1.0625rem;
   }
   
 }